article{
    font-family: "Electrolize", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1,h2,h3{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(221, 28, 26);
}

nav li, .test, span > a{ font-family: "Electrolize", sans-serif;
    font-weight: 400;
    font-style: normal;}
    
    p{background-color: rgb(7, 160, 195);}
    
    .test{
        background-color: rgb(240, 200, 8);
    }
    
    button{ background-color:rgb(8, 103, 136) ;}
    
    a{color: orange;}
        
        .img{background-image: url("https://picsum.photos/300/200");
            background-repeat: no-repeat;}
        
        button:hover{background-color: green;}
        
        nav a:hover{color: green;}
        
    
        
        