body{background-color: rgb(255, 168, 169);
    margin: 0px;
    padding: 0px;}
    
    
    article{
        font-family: "Electrolize", sans-serif;
        font-weight: 400;
        font-style: normal;   
    }
    
    h1,h2,h3{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: normal;
        color: rgb(34, 40, 35);
    }
    
    nav li, .test, span > a{ font-family: "Electrolize", sans-serif;
        font-weight: 400;
        font-style: normal;}
        
        p{background-color: rgb(120, 43, 78);
            border-radius: 10px;
            padding: 10px;
            box-shadow: 20px black;}
            
            
            button{ background-color:
                rgb(252, 213, 129)
                ;}
                
                a{color: black;
                    text-decoration: none;
                    font-weight: 600;}
                    
                    main img{width: 300px;}
                    
                    nav span{margin-top: 5px;}
                    
                    button:hover{background-color: green;}
                    nav a:hover{ border-bottom: solid 5px green;
                        color: green;}           
                        
                        .logo{
                            border-radius: 5px;
                            width: 70px;
                            height: 60px;}

                        .first-nav{
                            background-color: rgb(125, 128, 218);
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            position: fixed;
                            width: 100%;
                            top: 0px;
                        }
                        
                        .list-link{
                            display: flex;
                            justify-items: center;
                            align-content: center;
                            list-style: none;
                        }
                        
                        .link{
                            margin-right: 15px;
                            text-decoration: none;
                        }
                        
                        .second-nav{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin-top: 60px;
                        }
                        
                        .title{text-align: center}
                        
                        .flex{display: flex;}
                        
                        section{display: flex;
                        
                    }
                        
                        
                        aside{background-color: yellowgreen;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;}
                            
                            aside p{
                                background-color: yellowgreen;
                            }
                            
                            
                            
                            
                                
                                
                                
                                
                                